---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    {% include header.html %}

    <section id="organization" class="section faq" style="display: block;">
        <div class="container">

            <h3>Workshop Co-chairs</h3>
						{% for chair in site.data.chairs.general_chairs %}
              {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
            {% endfor %}

	    			<h3>Demo and Poster Co-chairs</h3>
						{% for chair in site.data.chairs.poster_demo_chairs %}
              {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
            {% endfor %}

            <h3>Web Chair</h3>
						{% for chair in site.data.chairs.web_chairs %}
              {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
            {% endfor %}

            <h3>Technical Program Committee</h3>
						Aloizio Pereira da Silva, Commonwealth Cyber Initiative
						Amit Sheoran, AT&am;T Research
						Anna Brunstrom, Karlstad University
						Bo Han, George Mason University
						Dimitrios Koutsonikolas	Northeastern University
						Domenico Giustiniano, IMDEA Networks
						Eugene Chai, NEC Laboratories
						Francesca Meneghello, University of Padova
						Haotian Deng, ByteDance
						Ismail Guvenc, North Carolina State University
						Ivan Seskar, Rutgers University
						Jayanthi Rao, Ford Research
						Joerg Widmer, IMDEA Networks
						Leonardo Bonati, Northeastern University
						Lin Tian, Chinese Academy of Sciences
						Marco Cominelli, University of Brescia
						Marco Fiore	Consiglio, Nazionale delle Ricerche, Italy
						Naveen Naik Sapavath, Iowa State University
						Oscar Bejarano, Rice University
						Parth Pathak, George Mason University
						Rui Tan,	Nanyang Technological University
						Sanjib Sur, University of South Carolina
						Sarath Babu,	Iowa State University
						Serge Fdida,	Sorbonne University &amp; CNRS
						Shivang Aggarwal,	Northeastern University
						Song Min Kim, 	KAIST
						Vinayak Naik,	BITS Pilani (India)
						Yu Chen	Cruise
						Yuanjie Li, Tsinghua University
						Yuehua Wang,	Texas A&amp;M – Commerce
						Zhangyu Guan,	University of Buffalo
						Zhaoming Lu,	Beijing University of Posts and Telecommunications
<!--
            <h3>Steering Committee</h3>
            Stefano Basagni, Northeastern University<br>
            Giuseppe Bianchi, University of Roma Tor Vergata<br>
            Dimitrios Koutsonikolas, Northeastern University<br>
            Tommaso Melodia, Northeastern University<br>
            Paul Patras, University of Edinburgh<br>
            Chunyi Peng, Purdue University<br>
            Ilenia Tinnirello, University of Palermo<br>
						-->
        </div>
    </section>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
